<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50374770721-p9v1m910p6b7td6241uctdnm5ueo2epi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50374770721-p9v1m910p6b7td6241uctdnm5ueo2epi</string>
	<key>API_KEY</key>
	<string>AIzaSyBf1jGF79rCirvhyylMV8gr-4Me4ShNYKI</string>
	<key>GCM_SENDER_ID</key>
	<string>50374770721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mbabicz.SwiftMeal</string>
	<key>PROJECT_ID</key>
	<string>swiftmeal-26927</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmeal-26927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50374770721:ios:07d08d24c325b94b7ae360</string>
</dict>
</plist>